<div class="main-container">
    <app-navbar></app-navbar>
    
    <div class="content-wrapper">
        <router-outlet></router-outlet>
    </div>
  
    <app-notification></app-notification>
  
    <footer class="footer">
      <div class="container d-flex justify-content-center">
        <a href="https://www.artsy.net" target="_blank" class="powered-by d-flex align-items-center">
          Powered by 
          <img src="assets/artsy_logo.svg" alt="Artsy" width="20" class="ms-1">
          Artsy
        </a>
      </div>
    </footer>
</div>